[submodule "src/ruby-static-tracing"]
	path = src/ruby-static-tracing
	url = https://github.com/dalehamel/ruby-static-tracing.git
[submodule "src/bcc"]
	path = src/bcc
	url = https://github.com/iovisor/bcc.git
[submodule "src/python-stapsdt"]
	path = src/python-stapsdt
	url = https://github.com/sthima/python-stapsdt
[submodule "src/node-usdt"]
	path = src/node-usdt
	url = https://github.com/sthima/node-usdt.git
[submodule "src/salp"]
	path = src/salp
	url = https://github.com/mmcshane/salp
[submodule "src/usdt-rails-sample"]
	path = src/usdt-rails-sample
	url = https://github.com/dalehamel/usdt-rails-sample.git
